{% extends '../base.html' %}

{% block contents %}
  <form method="POST">
    <h3 class="goal-title">運動目標{% if message_type == "create_goal" %}登録{% elif message_type == "update_goal" %}更新{% endif %}</h3>
    <table class="table table-borderless goal-table mt-3">
      {{ form }}
    </table>
    {% csrf_token %}
  </form>
{% endblock %}

{% block footer_contents %}
  <div class="btn btn-primary back-btn" role="button">
    <a href="{% url 'staffroom:exerciseHabitsRecord:exercise_list' %}">戻る</a>
  </div>
  {% if message_type == "create_goal" %}
    <button class="btn btn-primary" id="register-btn" type="submit">登録</button>
  {% elif message_type == "update_goal" %}
    <button class="btn btn-primary" id="update-btn" type="submit">更新</button>
  {% endif %}
{% endblock %}