{% extends './base.html' %}

{% block contents %}
  <form method="post">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
      {% if message_type == "delete_exercise" %}
        運動情報削除
      {% endif %}
    </h1>
    <div class="mt-3">
      <p>
        {% if message_type == "delete_exercise" %}
          {{ object.exercise_date }}
        {% endif %}
        のデータを削除します。よろしいですか？</p>
    </div>
    {% csrf_token %}
  </form>
{% endblock %}

{% block footer_contents %}
  <div class="btn btn-primary back-btn" role="button">
    <a href="{% url 'staffroom:exerciseHabitsRecord:exercise_list' %}">戻る</a>
  </div>
  <button class="btn btn-danger" id="delete-btn" type="submit">削除</button>
{% endblock %}

{% block script %}
  <script>
    $("#delete-btn").on("click", function() {
      $("form").submit();
    })
  </script>
{% endblock %}